[submodule "deps/luv"]
	path = deps/luv
	url = https://github.com/luvit/luv.git
[submodule "deps/luafilesystem_ffi"]
	path = deps/luafilesystem_ffi
	url = https://github.com/spacewander/luafilesystem.git
[submodule "deps/luautf8"]
	path = deps/luautf8
	url = https://github.com/starwing/luautf8.git
