[submodule "deps/luv"]
	path = deps/luv
	url = https://github.com/luvit/luv.git
[submodule "deps/luautf8"]
	path = deps/luautf8
	url = https://github.com/starwing/luautf8.git
[submodule "deps/luafilesystem"]
	path = deps/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
